name: CI test
run-name: event ${{ github.event_name }} triggered run of integration test
on: [push]
jobs:
  unit-tests:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js
        uses: actions/setup-node@v2
        with:
          node-version: "16.x"
      - name: Install dependencies
        uses: actions/setup-node@v2
        with:
          node-version: "16.x"
      - name: npm install
        run: npm install -g 
      - name: npm install commander
        run: npm install commander
      - name: run unit tests
        run: npm test
  cmd-tool-test-against-nodeapi:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js
        uses: actions/setup-node@v2
        with:
          node-version: "16.x"
      - name: Install dependencies
        uses: actions/setup-node@v2
        with:
          node-version: "16.x"
      - name: npm install
        run: npm install -g 
      - name: run integration tests
        run: npm run integrationtest